@section blurb{
<p> 
  In this episode we talk to 4 entrepreneurs about the risks they've taken - and what's happened to them because of it:
  <ul> 
    @Sugar.GuestLink("Dave Nielsen","tells us about working only for himself and what sleeping on a couch in a basement storeroom feels like","http://www.cloudcamp.org")
    @Sugar.GuestLink("Tom Preston-Werner","talks to us about founding Github and turning down $300,000 from Microsoft","http://tom.preston-werner.com")
    @Sugar.GuestLink("Nate and Niki Kohari","talks to us about starting up, and then selling, a tech company while being married","http://blog.agilezen.com")
  </ul> 
</p> 
<h2>Music</h2> 
<p>Most of the the tracks for this week are used under Creative Commons from Magnatunes. In addition we have some bootlegs and I've linked to the DJ's websites:</p> 
<ul>
    @Sugar.MusicLink("2 Many DJs","Beatles Vs Kraftwerk","http://www.youtube.com/watch?v=38SHb6hfOJg")
    @Sugar.Ghosts()
    @Sugar.GeneralFuzz("Red Balloon")
    @Sugar.MusicLink("Nine Inch Nails Remixes","We are Alone/On We March","http://remix.nin.com")
    @Sugar.MusicLink("Williamson","2 percent er","http://magnatune.com/artists/williamson")
    @Sugar.MusicLink("Rildrim","Linber","http://itunes.apple.com/us/album/linber/id399882981?i=399883232")
    @Sugar.MusicLink("Williamson","what's on the ceiling","http://magnatune.com/artists/williamson")
    @Sugar.MusicLink("Mark Vidler - Go Home Productions","The Weather Episode","http://www.gohomeproductions.co.uk")
</ul>
<p>
    The following tracks were used under fair use (played for 30-60 seconds):
    <ul>
     @Sugar.MusicLink("Puscifer","Momma Sed","http://itunes.apple.com/us/album/momma-sed-alive-at-club-nokia/id337433110?i=337433432")
     @Sugar.MusicLink("MC 900 Foot Jesus","Buried At Sea","http://itunes.apple.com/us/album/killer-inside-me/id15149052?i=15149029")
    </ul>
    
</p>
<p>In addition - we used a few clips from the movie Rushmore. If you haven't seen it - go get it.</p>
@Sugar.MusicLink("Wes Anderson","Rushmore","http://www.amazon.com/Rushmore-Jason-Schwartzman/dp/6305428239")

<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.SublimeSVN()
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/129627254018/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-238c6e0e6e177003.m4v"></script></p> 

}
