@section blurb{
<p> 
  In this episode we talk to competitors who are also programmers. Or, programmers who also compete. Are coders pre-wired for this?
  <ul> 
    @Sugar.GuestLink("Jon Skeet","shares how he stays at the top of the Stack Overflow points pile","http://msmvps.com/blogs/jon_skeet/Default.aspx")
    @Sugar.GuestLink("David Fowler","talks about TopCode and flying to DisneyWorld to watch coders code","http://weblogs.asp.net/davidfowler/")
    @Sugar.GuestLink("Aaron Jensen","quits his job to play poker professionally","http://twitter.com/aaronjensen")
    @Sugar.GuestLink("Daniele R. Banks","is just getting started but is already building competing robots","http://twitter.com/rara718")
  </ul> 
</p> 

<h2>Music</h2>
<p>We featured some remixes this week from Nine Inch Nails which is issued under Creative Commons. 
The band allows you to download their tracks, remix, them, and then load them back to their site for common consumption. If you like the following tracks,
please support the band by buying their CDs.
<ul>
    @Sugar.MusicLink("Nine Inch Nails", "Only (Richard X Mix)", "http://remix.nin.com/")
    @Sugar.MusicLink("Nine Inch Nails", "In Motion (Discrete Omni's Angular Momentum Mix)", "http://remix.nin.com/")
    @Sugar.MusicLink("Nine Inch Nails", "Heresy (Instrumental)", "http://remix.nin.com/")
</ul>
</p> 
<p>Other tracks for this week are used under Creative Commons from Magnatunes. In addition we have some bootlegs and I've linked to the DJ's websites:</p> 
<ul>
    @Sugar.MusicLink("Stargarden", "Mural", "http://itunes.apple.com/us/album/mural/id257926716?i=257926728")
    @Sugar.MusicLink("Swivel Neck Jones", "Burn", "http://itunes.apple.com/us/album/burn/id277014166?i=277014184")
    @Sugar.MusicLink("Heavy Mellow", "Maybe It'll Rain", "http://itunes.apple.com/us/album/maybe-itll-rain/id257786649?i=257786909")
    @Sugar.MusicLink("Matt Hite", "Me and You and Yazoo", "http://itunes.apple.com/us/album/maybe-itll-rain/id257786649?i=257786909")
</ul>

<h2>Sponsors</h2> 
@Sponsors.SublimeSVN()
@Sponsors.DevExpress()            
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/129749190874/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-05c2705b191b51da.m4v"></script>
</p> 
}