@section blurb{
<p> 
  We talk to 4 developers about their experiences with Deathmarch projects:
  <ul> 
    @Sugar.GuestLink("Chad Myers","tells us about one of the first lead positions he had working for a sleazy business guy.","http://www.lostechies.com/blogs/chad_myers/")
    @Sugar.GuestLink("Chad Fowler","talks to us about being an imposter","http://chadfowler.com/")
    <li> 
      <a href='http://girldeveloper.com' target='_blank'>Sara Chipps</a> 
      contributes her first story to This Developer's Life, interviewing
      <a href='http://www.mcsweeneys.net/links/dreamjobs/' target='_blank'>Scott Reynolds</a> 
      about his dream jobs
    </li>
    @Sugar.GuestLink("Doug Rohrer","talks to Scott about bonding under extreme, Enterprise circumstances")
  </ul> 
</p> 
 
<h2>Music</h2> 
<p>The tracks for this week are used under Creative Commons from Magnatunes. In addition we have some bootlegs and I've linked to the DJ's websites:</p> 
<ul>
    @Sugar.MusicLink("Fissunix","Whole Sex Lotta Machine","http://bootleg.fissunix.com")
    @Sugar.DJCary("Dreaming of This")
    @Sugar.Ghosts()
    @Sugar.GeneralFuzz("Smiling Perspectives")
    @Sugar.MusicLink("Rildrim","Linber","http://itunes.apple.com/us/album/linber/id399882981?i=399883232")
    @Sugar.MusicLink("DJs From Mars","Enter Telephone","http://www.myspace.com/djsfrommars")
</ul> 
<h2>Sponsors</h2> 
@Sponsors.Twilio()            
@Sponsors.SublimeSVN()
}
@section player{
<p> 
  <script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/129446071395/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-66fc2ca319f53cfc.m4v"></script> 
</p>
}