@section blurb {
<p> 
  In this episode we talk to 2 developers who harness their obsessive tendencies to further themselves in their career.
  <ul> 
    @Sugar.GuestLink("Rob Sullivan","submitted our very first listener story about what drives him as a DBA - sometimes a bit too far","http://datachomp.com")
    @Sugar.GuestLink("Rory Blyth - the smartest man in the world","talks openly and candidly about his obsessions - and how he can't just learn something a little bit.","http://www.thesmartestman.com/about.aspx")
  </ul> 
</p> 

<h2>Music</h2>
<p>We featured some remixes this week from Nine Inch Nails which is issued under Creative Commons. 
The band allows you to download their tracks, remix, them, and then load them back to their site for common consumption. If you like the following tracks,
please support the band by buying their CDs.
<ul>
    @Sugar.MusicLink("Nine Inch Nails", "Zero Sum - Instrumental", "http://remix.nin.com/")
    @Sugar.MusicLink("Nine Inch Nails", "All The Love In the World - Instrumental", "http://remix.nin.com/")
</ul>
</p> 
<p>Other tracks for this week are used under Creative Commons from Magnatunes. In addition we have some bootlegs and I've linked to the DJ's websites:
<ul>
    @Sugar.MusicLink("Jami Sieber", "Secret Heat", "http://itunes.apple.com/us/album/secret-heat/id80069641?i=80069616")
    @Sugar.MusicLink("Rildrim", "Dead Sun", "http://itunes.apple.com/us/album/dead-sun/id399882981?i=399883229")
</ul>
</p> 
<p>
    The following tracks were used under fair use (played for 30-60 seconds):
    <ul>
     @Sugar.MusicLink("Foo Fighters","Everlong","http://itunes.apple.com/us/album/everlong/id362133451?i=362133505")
    </ul>
    
</p>
<h2>Sponsor</h2> 
@Sponsors.DevExpress()  
}
@section player{
<p> 
    <script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/129922100365/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-60b1cfcd168e0d19.m4v"></script>
</p>
}
