@section blurb{
<p> 
  Scott and Rob talk to a group of Top Gun developers: the StackOverflow team, about the day their database melted - and how the team responded.
  <ul> 
    @Sugar.GuestLink("Geoff Dalgas"," - developer on StackOverflow","http://twitter.com/superdalgas")
    @Sugar.GuestLink("Sam Saffron"," - developer and data geek at StackOverflow","http://twitter.com/samsaffron")
    @Sugar.GuestLink("Jeff Atwood",",Mr. CodingHorror and co-founder of StackOverflow","http://codinghorror.com")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are a combination of Fair Use, Royalty-free, and Mashups. As with most of our mashups I won't link the source but you can find them on any video serving site.
</p>
<ul>
    @Sugar.MusicLink("Beastie Boys", "Sabotage", "http://itunes.apple.com/us/album/sabotage/id16581147?i=16580831/")
    @Sugar.MusicLink("Nine Inch Nails", "Ghosts VI", "http://ghosts.nin.com/")
    @Sugar.MusicLink("Star Garden", "Rutile", "http://itunes.apple.com/us/album/rutile/id257926716?i=257928054")
    @Sugar.MusicLink("Calexico", "Whipping the Horse's Eyes", "http://itunes.apple.com/us/album/whipping-the-horses-eyes/id14944368?i=14944361")
    @Sugar.MusicLink("Rildrim", "Linber", "http://itunes.apple.com/us/album/linber/id399882981?i=399883232")
</ul>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/130540110745/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-ec02faac4bccd8dd.m4v"></script>    
    </p>

}
