@section blurb{
<p> 
  Scott and Rob discuss the value of a degree - and talk to two developers who used their passion to pull them through school and into their careers.
  <ul> 
    @Sugar.GuestLink("Aqueelah Grant"," QA Specialist at Trimmer Media","http://twitter.com/aqueelahgrant")
    @Sugar.GuestLink("Seth Juarez"," Developer Evangelist at DevExpress","http://twitter.com/sethjuarez")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are a combination of Fair Use, Royalty-free, and Mashups. As with most of our mashups I won't link the source but you can find them on any video serving site.
</p>
<ul>
    @Sugar.MusicLink("Deftones", "Change in the House of Flies - Accoustic Version", "http://itunes.apple.com/us/album/change-in-house-flies-acoustic/id339542329?i=339542521")
    @Sugar.MusicLink("Music Inside", "Sound Objects", "http://itunes.apple.com/us/album/sound-objects/id299928534?i=299928596")
    @Sugar.MusicLink("The Kills", "The Good Ones", "http://itunes.apple.com/us/album/the-good-ones/id303141278?i=303141309")
    @Sugar.MusicLink("Lisa DeBenedictus / Sidetrack", "DJ Cary", "http://itunes.apple.com/us/album/lisa-debenedictis-sidetrack/id257898230?i=257898833")
    @Sugar.MusicLink("Swampland", "touchingGrace", "http://itunes.apple.com/us/album/swampland/id257930102?i=257931152")
    @Sugar.MusicLink("The Kills", "Tape Song", "http://itunes.apple.com/us/album/tape-song/id275323205?i=275323265")
    @Sugar.MusicLink("Tricky Sandman", "Mark Vidler", "http://gohomeproductions.co.uk")
</ul>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/131020771632/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-b878283b157185ed.m4v"></script>
    
</p>

}
