@section blurb{
<p> 
 What do you do when you're not staring at your computer screen? What obsession grips you as you drive home? In this episode we ask David Heinemeier Hansson and Pete Brown this very question.
  <ul> 
    @Sugar.GuestLink("David Heinemeier Hansson","Creator of Rails and budding Racer X","http://loudthinking.com/")
    @Sugar.GuestLink("Pete Brown","Senior Project Manager, Microsoft and budding Thomas Edison","http://10rem.net/")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are a combination of Fair Use, Royalty-free, and Mashups. As with most of our mashups I won't link the source but you can find them on any video serving site.
</p>
<ul>
    @Sugar.MusicLink("Ladytron","Ace of Hz - DJ Tiesto Remix","http://itunes.apple.com/us/album/ace-of-hz-tiesto-remix/id409295421?i=409295424")
    @Sugar.MusicLink("Nine Inch Nails", "Various Remixes of Deep and Perfect Drug", "http://remix.nin.com")
    @Sugar.MusicLink("Jerry Berlongieri", "Known Bugs", "http://itunes.apple.com/us/album/known-bugs/id336056870?i=336057131")
    @Sugar.MusicLink("Karftwerk", "Pocket Calculator", "http://itunes.apple.com/us/album/pocket-calculator/id40555789?i=40555793")
    @Sugar.MusicLink("DJs From Mars","Enter Telephone","http://www.myspace.com/djsfrommars")

</ul>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/132142197095/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-3a96f0b87ad21b2a.m4v"></script>
}
