@section blurb{
<p> 
  How many empty brain cells do you have in your head? How capable are you of learning something completely new, and retaining what you already know? Scott and Rob talk to two developers this week who flex their ability to learn to both have fun, and succeed at their career.
  <ul> 
    @Sugar.GuestLink("Patrick Cauldwell","Liberal Arts Major and Author of Code Leader","http://twitter.com/pcauldwell")
    @Sugar.GuestLink("Zach Johnson","17-year old home-school kid who has an internship building rockets at Microsoft","http://zachjohnson.net")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are either Creative Commons from Magnatune or 30 - 60 seconds snips used as Fair Use. Most of the music for the show
    was from a single artist: Aluminum Forest. An amazing album worth your time - go check it out.
</p>
<ul>
    @Sugar.MusicLink("Aluminum Forest","Aluminum Forest","http://itunes.apple.com/us/artist/aluminum-forest/id484869650")
    @Sugar.Ghosts()
    @Sugar.MusicLink("Daft Punk","TRON: Legacy Reconfigured","http://itunes.apple.com/us/album/tron-legacy-reconfigured/id426251101")
</ul>
<h2>Photo</h2>
<p>This week's <a href="http://www.flickr.com/photos/johnbullas/5042846972/">evocative photo is from Flickr and is used under Creative Commons.</a></p>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
   <script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/133403677933/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-00ada467e0db061f.m4v"></script>
</p>
}