@section blurb{
<p> 
  What is taste? What is style? Do you have it? Scott and Rob have no idea what it is or how to get it - but they know it's important. In this show
    they talk to a designer who flexes his good taste for a living - and a developer who is committed to spreading good taste where he can.
  <ul> 
    @Sugar.GuestLink("Michael Bach"," Designer at Microsoft","http://www.michaeldorian.com/")
    @Sugar.GuestLink("Geoffrey Grosenbach","Owner/Founder of PeepCode","http://blog.peepcode.com")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are a combination of Fair Use, Royalty-free, and Mashups. As with most of our mashups I won't link the source but you can find them on any video serving site.
</p>
<ul>
    @Sugar.MusicLink("Jeff Buckley", "Halleluja", "http://itunes.apple.com/us/album/hallelujah/id260371382?i=260371497")
    @Sugar.MusicLink("Hymn", "Hymn", "http://itunes.apple.com/us/album/hymn/id336091367?i=336091949")
    @Sugar.Ghosts()
    @Sugar.MusicLink("Jag", "My Momma Told Me", "http://itunes.apple.com/us/album/my-momma-told-me/id257906470?i=257906662")
    @Sugar.MusicLink("Low and Spring Heel Jack", "Hand So Small", "http://www.youtube.com/watch?v=2vmi9EqF5nE")

</ul>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/131312303174/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-bad6ceb67bb072e6.m4v"></script>  
</p>

}
