@section blurb{
<p> 
  Who cares about typefaces and why should you? Well, these guys do and you should start caring. Rob and Scott explore the world of reading online with one of the godfathers in the world of typeface and fonts. 
  <ul> 
    @Sugar.GuestLink("Bill Hill"," Lover of reading, of typefaces, and co-creator of ClearType","http://billhillsite.com/")
    @Sugar.GuestLink("Geoffrey Grosenbach","Owner/Founder of PeepCode","http://blog.peepcode.com")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are a combination of Fair Use, Royalty-free, and Mashups. As with most of our mashups I won't link the source but you can find them on any video serving site.
</p>
<ul>
    @Sugar.MusicLink("Juno Reactor", "High Energy Protons", "http://itunes.apple.com/us/album/transmissions/id413104452")
    @Sugar.Ghosts()
    @Sugar.MusicLink("Trent Reznor and Atticus Ross", "Pieces from the Whole", "http://itunes.apple.com/us/album/the-social-network-soundtrack/id395740920")
    @Sugar.MusicLink("Nine Inch Nails", "The Great Collapse (Instrumental)", "http://remix.nin.com")
    @Sugar.MusicLink("Calexico", "Whipping the Horses Eyes", "http://itunes.apple.com/us/album/feast-of-wire/id14944368")

</ul>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/131646684341/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-6b4a387a5b2e0ba0.m4v"></script></p>

}
