@section blurb{
<p> 
  In this episode we talk to three developers about criticism - some they've given and some they've received. In addition we talk to a very vocal critic of this podcast.
  <ul> 
    @Sugar.GuestLink("Ayende Rahien"," - a prominent developer in the .NET community and a force of nature","http://ayende.com")
    @Sugar.GuestLink("G. Andrew Duthie"," - a Developer Evangelist at Microsoft","http://twitter.com/devhammer")
    @Sugar.GuestLink("Boris Pavlović",", a Serbian developer living with his wife and family in Switzerland","http://twitter.com/boris_pavlovic")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week cycle around remixes of a single song: On We March by Trent Reznor and Atticus Ross. The different faces of the music seemed to mirror
    the phases people go through when confronting criticism - either from others, or their very own.
</p>
<ul>
    @Sugar.MusicLink("Nine Inch Nails", "On We March - various Remixes", "http://remix.nin.com/")
    @Sugar.MusicLink("David Bowie", "Sorrow - Instrumental", "http://itunes.apple.com/us/album/sorrow/id14685330?i=14685317")
    @Sugar.MusicLink("Nine Inch Nails", "Perfect Drug (Grind Mix)", "http://remix.nin.com/")
</ul>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/130352812967/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-675d26baecad702f.m4v"></script>
    </p>

}
