@section blurb{
<p> 
  Where does drama come from? How do we react to it? How much drama can be created by simple semicolon?  This week we explore The Great Semicolon Affair.
  <ul> 
    @Sugar.GuestLink("Peter Cooper","Friendly publisher, programmer and author","http://twitter.com/peterc")
    @Sugar.GuestLink("Derick Bailey ","Consultant and aspiring microprenuer","http://twitter.com/derickbailey ")
    @Sugar.GuestLink("H. Alan Stevens","Father, Geek & Speaker","http://twitter.com/alanstevens")
    @Sugar.GuestLink("Dave Ward","Software developer focusing on jQuery and web application usability.","http://twitter.com/encosia")
    @Sugar.GuestLink("Sara Chipps","Just a girl, standing in front of a compiler, asking it to love her. ","http://twitter.com/sarajchipps")
    @Sugar.GuestLink("Tenderlove","When I'm not trimming my beard, I'm hanging out with my lady.","http://twitter.com/tenderlove")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are either Creative Commons from Magnatune or 30 - 60 seconds snips used as Fair Use. 
</p>
<ul>
    @* Sugar.MusicLink("Aluminum Forest","Aluminum Forest","http://itunes.apple.com/us/artist/aluminum-forest/id484869650") *@
</ul>
<h2>Photo</h2>
<p>This week's <a href="http://www.flickr.com/photos/yonotengoseisdedos/5502784660/">evocative photo is from Flickr and is used under Creative Commons.</a></p>

<h2>Our Loving Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
   <iframe src="http://html5-player.libsyn.com/embed/episode/id/2067341/height/325/width/325/autoplay/no/autonext/no/direction/forward/thumbnail/yes" height="325" width="325" scrolling="no"></iframe>
</p>
}