@section blurb{
<p> 
 You're so old! What a dinosaur! You're using old software and old languages to do old things! Or are you? Scott and Rob talk to David Sokol, Sean Bamforth and Pete Brown about Fortran, DataFlex and the Commodore 64. All these dinosaurs are doing useful work. Or, are they?
  <ul> 
    @Sugar.GuestLink("David Sokol","Fortran Programmer and dude with an AWESOME hover state on his home page","http://dsokol.com/")
    @Sugar.GuestLink("Sean Bamforth","Former Dataflex programmer and now beginning .NET guru","https://twitter.com/seanbamforth")
    @Sugar.GuestLink("Pete Brown","Senior Project Manager, Microsoft and budding Thomas Edison","http://10rem.net/")
  </ul> 
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are all Creative Commons from SoundCloud and most are less than 10 seconds.
</p>
<ul>
    @Sugar.MusicLink("djpenegre","Ibiza Sunrise 2","http://soundcloud.com/djpenegre/ibiza-sunrise-2")
    @Sugar.MusicLink("MattyBlades","Midi Blues","http://soundcloud.com/mattyblades/midi-blues")
    @Sugar.MusicLink("~djrain~","Ladies of the 80s Retro Mix","http://soundcloud.com/djrain-3/ladies-of-the-80s-retro-mix")
    @Sugar.MusicLink("mrevaaaaa","The Cogs Are Spinnin'","http://soundcloud.com/mrevaaaaa/the-cogs-are-spinnin")
    @Sugar.MusicLink("WenzelRanch","Happy Feed Midi Jam","http://soundcloud.com/wenzelranch/happy-feet-midi-jam")
    @Sugar.MusicLink("AlexDaniels","Zimbabwe","http://soundcloud.com/alexdaniels/zimbabwe-midi-demo")
    @Sugar.MusicLink("Lucent Zoom","1764","http://soundcloud.com/lucent-zoom/1764-1")
    @Sugar.MusicLink("Lucent Zoom","Irish Song","http://soundcloud.com/lucent-zoom/irish-song")
    @Sugar.MusicLink("MIDI Controller","'Xactly","http://soundcloud.com/midicontroller/xactly")
    @Sugar.MusicLink("BDarner2","6Death of New Age","http://soundcloud.com/bdarner2/6death-of-new-age-beat-courtesy-antitune")
    @Sugar.MusicLink("The Apex","An Azure Night","http://soundcloud.com/theapex/an-azure-night")
</ul>
<h2>Photo</h2>
<p>This week's <a href="http://www.flickr.com/photos/meddygarnet/2871729022/">evocative photo is from Flickr and is used under Creative Commons.</a></p>

<h2>Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<script type="text/javascript" src="http://player.wizzard.tv/player/o/j/x/132722393662/config/k-27721e9f4e6ff19c/uuid/root/height/325/width/325/episode/k-57b9c045f6eb6f97.m4v"></script>
}
