@section blurb{
<p> 
  Mo and Scott share their thoughts and struggle in this cancer diary they started the day after Mo was diagnosed.
</p> 
   
<h2>Music</h2>
<p>
    The music tracks this week are used under Creative Commons. Please check out our friends on SoundCloud.
</p>
<ul>
   @Sugar.MusicLink("Xinbi","Elysian Rain ","https://soundcloud.com/xinbi/elysian-rain")
   @Sugar.MusicLink("Ian Redfield Music","Thoughtful Violin (2010)","https://soundcloud.com/irmproductions/thoughtful-violin")
   @Sugar.MusicLink("Yogi Music","Stuff","https://soundcloud.com/yogimusic/loung-house-sample?in=scott-hanselman/sets/tdl-c")
   @Sugar.MusicLink("Lunova Labs","La Vie","https://soundcloud.com/lunova/la-vie-ft-olivia-lee?in=scott-hanselman/sets/tdl-c")
   @Sugar.MusicLink("Jéan-Paul D. Jackson","Mimi","https://soundcloud.com/jeanpauljackson/mimi")
   @Sugar.MusicLink("SlightWhiteRabbit","Relax1","https://soundcloud.com/slightlywhiterabbit/relax-1")
   @Sugar.MusicLink("Seven Lions","Days to Come","https://soundcloud.com/owslaofficial/seven-lions-days-to-come")
   @Sugar.MusicLink("itsjakez","Cancer","https://soundcloud.com/itsjakez/cancer")
   @Sugar.MusicLink("artist","title","link")


</ul>
<h2>Photo</h2>
<p>This week's evocative photo is from Scott and Mo's wedding, many years ago.</a></p>

<h2>Our Loving Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
   <iframe src="http://html5-player.libsyn.com/embed/episode/id/2067341/height/325/width/325/autoplay/no/autonext/no/direction/forward/thumbnail/yes" height="325" width="325" scrolling="no"></iframe>
</p>
}