@section blurb{
<p>Big thanks from both my wife and myself for the outpouring of support <a href="http://www.hanselman.com/blog/Cancer.aspx">after our Cancer announcement</a>. Last year was a long year and the Cancer part of the year was particularly long.</p>
<p>We were very private about the whole thing and waited to tell anyone until we knew we were mostly OK. However, to my surprise, the day of the diagnosis my wife, who has never shown much interested in podcasting announced &quot;I want to record an audio Cancer Diary. Can you do that?&quot;</p>
<p>So we did. </p>
<p>We honestly didn't know if we were going to publish this when we started but after a month of editing late into the night, we are.</p>
<p>This episode of This Developer's Life takes a half year of our lives and <em>many, many </em>hours of audio and turns it into a single hour show that Mo and I are happy to share it with you today.</p>
<p>I hope you enjoy the show and that you and yours are, and remain, healthy.</p>
<h2>Music</h2>
<p>The music tracks this week are used under Creative Commons. Please check out our friends on SoundCloud.</p>
<ul>
   @Sugar.MusicLink("Xinbi","Elysian Rain ","https://soundcloud.com/xinbi/elysian-rain")
   @Sugar.MusicLink("Ian Redfield Music","Thoughtful Violin (2010)","https://soundcloud.com/irmproductions/thoughtful-violin")
   @Sugar.MusicLink("Yogi Music","Stuff","https://soundcloud.com/yogimusic/loung-house-sample?in=scott-hanselman/sets/tdl-c")
   @Sugar.MusicLink("Lunova Labs","La Vie","https://soundcloud.com/lunova/la-vie-ft-olivia-lee?in=scott-hanselman/sets/tdl-c")
   @Sugar.MusicLink("Jéan-Paul D. Jackson","Mimi","https://soundcloud.com/jeanpauljackson/mimi")
   @Sugar.MusicLink("SlightWhiteRabbit","Relax1","https://soundcloud.com/slightlywhiterabbit/relax-1")
   @Sugar.MusicLink("Seven Lions","Days to Come","https://soundcloud.com/owslaofficial/seven-lions-days-to-come")
   @Sugar.MusicLink("itsjakez","Cancer","https://soundcloud.com/itsjakez/cancer")
   @Sugar.MusicLink("artist","title","link")
</ul>
<h2>Photo</h2>
<p>This week's evocative photo is from Scott and Mo's wedding, many years ago.</a></p>

<h2>Our Loving Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
   <iframe style="border: none" src="http://html5-player.libsyn.com/embed/episode/id/2203021/height/325/width/325/theme/legacy/direction/no/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/" height="325" width="325" scrolling="no"></iframe>
</p>
}