@section blurb{
<p>Scott and Rob have not yet gone to space and don't understand why. In this episode of This Developer's Life we ask the hard questions about space. Why aren't we on Mars? Why haven't we gone back to the moon? We talk to Paul Lutus, Dan Bricklin, Tamar Cohen, and hear from Ray Bradbury.</p>
<ul>
   @Sugar.MusicLink("Grandaddy","He's simple, He's dumb, He's the Pilot","https://itunes.apple.com/us/album/sophtware-slump-deluxe-edition/id454540068")
   @Sugar.MusicLink("M83","Coleurs","https://itunes.apple.com/us/album/saturdays-youth/id731931073")
   @Sugar.MusicLink("Adam Sohn","Space Dance (UlySA Remix)","https://soundcloud.com/ulysa/adam-sohn-space-dance")
   @Sugar.MusicLink("Electralane","Atoms Tomb","https://itunes.apple.com/us/album/axes/id61474624")
   @Sugar.MusicLink("Jami Sieber","Secret Heat","https://itunes.apple.com/us/album/lush-mechanique/id80069641")
   @Sugar.MusicLink("Jarkko Hietanen","Running Rooftops","https://itunes.apple.com/us/album/datacube/id423030954")
   @Sugar.MusicLink("Go Home Productions","Shannon Stone","http://www.gohomeproductions.co.uk/discography.html")
   @Sugar.MusicLink("Jarkko Hietanen","Space Mining","https://itunes.apple.com/us/album/datacube/id423030954")
   @Sugar.MusicLink("Anonymous","A Hidden Forest","http://www.youtube.com/watch?v=YST1uZoFN9o")
</ul>
<h2>Credits</h2>
<p>Thank you to <a href="http://www.theqandapodcast.com/2012/06/ray-bradbury-q.html">Jeff Goldsmith</a>, maker of the free storytelling app <a href="https://itunes.apple.com/us/app/backstory/id521967972?mt=8">Backstory</a>, for allowing us to use his recording of Ray Bradbury from Comic-Con 2010.</p>
<h2>Our Loving Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/2588168/height/325/width/325/theme/legacy/direction/no/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/" height="325" width="325" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe></p>
}
