@section blurb{
<p>Scott and Rob have not yet gone to space and don't understand why. In this episode of This Developer's Life we ask the hard questions about space. Why aren't we on Mars? Why haven't we gone back to the moon? We talk to Paul Lutus, Dan Bricklin, Tamar Cohen, and hear from Ray Bradbury.</p>
<ul>
    @* ROB, please fill out the music credits
   @Sugar.MusicLink("Xinbi","Elysian Rain ","https://soundcloud.com/xinbi/elysian-rain")
   @Sugar.MusicLink("Ian Redfield Music","Thoughtful Violin (2010)","https://soundcloud.com/irmproductions/thoughtful-violin")
   @Sugar.MusicLink("Yogi Music","Stuff","https://soundcloud.com/yogimusic/loung-house-sample?in=scott-hanselman/sets/tdl-c")
   @Sugar.MusicLink("Lunova Labs","La Vie","https://soundcloud.com/lunova/la-vie-ft-olivia-lee?in=scott-hanselman/sets/tdl-c")
   @Sugar.MusicLink("Jéan-Paul D. Jackson","Mimi","https://soundcloud.com/jeanpauljackson/mimi")
   @Sugar.MusicLink("SlightWhiteRabbit","Relax1","https://soundcloud.com/slightlywhiterabbit/relax-1")
   @Sugar.MusicLink("Seven Lions","Days to Come","https://soundcloud.com/owslaofficial/seven-lions-days-to-come")
   @Sugar.MusicLink("itsjakez","Cancer","https://soundcloud.com/itsjakez/cancer")
   @Sugar.MusicLink("artist","title","link")
*@
</ul>
<h2>Credits</h2>
<p>Thank you to <a href="http://www.theqandapodcast.com/2012/06/ray-bradbury-q.html">Jeff Goldsmith</a>, maker of the free storytelling app <a href="https://itunes.apple.com/us/app/backstory/id521967972?mt=8">Backstory</a>, for allowing us to use his recording of Ray Bradbury from Comic-Con 2010.</p>
<h2>Our Loving Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/2588168/height/325/width/325/theme/legacy/direction/no/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/" height="325" width="325" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe></p>
}