@section blurb{
<p>How does our Faith drive us? Do you have Faith in yourself and your abilities, and how do you know you're on the right path? In this episode of This Developer's Life we offer you two stories. Rob has packed up his family and is travelling the world. He talks about his Faith in his children, recorded in a small town in Greece. Then we talk to Enongo Lumumba-Kasongo, aka Sammus, about her crisus of Faith. She's juggling getting a PhD from Cornell while her side career as a musician is starting to take off. Which path is the right path?</p>
<ul>
   @Sugar.MusicLink("Sammus","Mae Jemison","https://sammusmusic.bandcamp.com/music")
   @Sugar.MusicLink("Sammus","No Hands","https://sammusmusic.bandcamp.com/music")
   @Sugar.MusicLink("Sammus","The Father","https://sammusmusic.bandcamp.com/music")
   @Sugar.MusicLink("Sammus","1080p","https://sammusmusic.bandcamp.com/music")
   @Sugar.MusicLink("Sammus","Pity Party","https://sammusmusic.bandcamp.com/music")
   @Sugar.MusicLink("Sammus","Success","https://sammusmusic.bandcamp.com/music")
   @Sugar.MusicLink("Sammus","Power Ups","https://sammusmusic.bandcamp.com/music")
   @Sugar.MusicLink("Sammus","Cybernetic Armor","https://sammusmusic.bandcamp.com/music")
</ul>
<h2>Our Loving Sponsor</h2> 
@Sponsors.DevExpress()   
}
@section player{
<p> 
<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/2588168/height/325/width/325/theme/legacy/direction/no/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/" height="325" width="325" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe></p>
}
